@model reservation_de_vol.Models.Vol
@using Microsoft.AspNetCore.Mvc.ModelBinding


@{
    ViewData["Title"] = "Vols";
}


               

           <!-- banner -->
<div class="banner" id="home" style="position: relative;
      overflow: hidden;">

	<video autoplay muted loop style="position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;">
		<source src="/images/testaa.mp4" type="video/mp4">
	</video>

	<div class="agileinfo-dot">
		<div class="container">
				<!-- header -->
				
			<!-- //header -->
			<!-- banner-text -->
			
				<div class="banner-text">
				@*<h2>Jetsetters' Paradise: Explore Hundreds of Global Destinations with Ease!</h2>*@
				<div class="col-md-12">
					@if (!ViewData.ModelState.IsValid)
					{
						<div class="alert alert-danger">

							<p>Please fill in all required fields.</p>

						</div>
					}
				</div>

				<div style="border: 2px solid #ccc; padding: 20px; margin: 20px;">
					
					<div class="book-form" id="register">

						<form asp-controller="Home" asp-action="Result" method="post" style="padding-left: 10%; position: relative;
      z-index: 1;
      color: white;">

							@*<legend style="font-size: 45px; text-align: center;">Pick your destination</legend>*@


							<div class="center-div" style="display: flex; justify-content: center;">
								<div class="form-time-w3layouts" style="">
									<label style="font-size: 29px; color: black; font-weight: bold;">Type de vol :</label>
									<div style="width: 400px; display: flex; justify-content: center;">
										<label for="roundtrip" style="font-size: 25px; color: black; font-weight: bold; margin-right: 20px;">
											<input type="radio" id="roundtrip" onclick="$('.date_retour').removeClass('d-none')" class="resp-tab-item" name="flight_type" value="Roundtrip">
											<span></span>Aller/Retour
										</label>
										<label for="one way" style="font-size: 25px; color: black; font-weight: bold;">
											<input type="radio" id="one-way" class="resp-tab-item" onclick="$('.date_retour').addClass('d-none')" name="flight_type" value="One way">
											<span></span>Aller Simple
										</label>
									</div>
								</div>
							</div>

							<br />




							<div class="col-md-5 form-time-w3layouts">
								<label style="font-size:29px; color: black; font-weight: bold;">Ville de départ :</label>
								<input style="border: 2px solid black; padding: 8px;" type="text" name="departure" class="city1" value="Tape la ville de départ" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Tape la ville de départ';}" id="departure" required>
							</div>
							<div class="col-md-5 form-time-w3layouts">
								<label style="font-size:29px; color: black; font-weight: bold;">Ville d'arrivée :</label>
								<input style="border: 2px solid black; padding: 8px;" type="text" name="arrival" class="city2" value="Tape la ville d arrivé" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Tape la ville d arrivé';}" id="arriver" required>
						</div>

						<!-- Departure Date -->
						<div class="col-md-5 form-date-w3-agileits">
								<label style="font-size:29px; color: black; font-weight: bold;">Date d'aller :</label>
								<input style="border: 2px solid black; padding: 8px;" id="departureDate" name="flight_date_d" type="date" min="@DateTime.Now.ToString("yyyy-MM-dd")" required>
						</div>

						<!-- Return Date -->
						<div class="col-md-5 form-date-w3-agileits date_retour">
								<label style="font-size:29px; color: black; font-weight: bold;">Date de retour :</label>
								<input style="border: 2px solid black; padding: 8px;" id="returnDate" name="flight_date_a" type="date" min="@DateTime.Now.ToString("yyyy-MM-dd")">
						</div>


							<div class="col-md-5  form-left-agileits-w3layouts ">
								<label style="font-size:29px; color: black; font-weight: bold;">Type de classe :</label>
								<select style="border: 2px solid black; padding: 5px;" class="form-control" name="travel_class">
										<option value="ECONOMY">Economy class</option>
										<option value="PREMIUM_ECONOMY">Premium Economy class</option>
										<option value="BUSINESS">Business class</option>
										<option value="FIRST">First class</option>
									</select>
							</div> 

							<div class="col-md-5 form-left-agileits-w3layouts " style="margin-bottom: 2%;">
								<label style="font-size:29px; color: black; font-weight: bold;">Non Stop :</label>
								<select style="border: 2px solid black; padding: 5px;" class="form-control" name="non_stop">
									<option value="false">flight with layovers</option>
									<option value="true">flight without layovers</option>
								</select>
							</div>

							<div class="col-md-4 form-left-agileits-w3layouts " style="margin-bottom: 2%;">
								<label style="font-size:29px; color: black; font-weight: bold;">Adulte (18+)</label>
								<select style="border: 2px solid black; padding: 5px;" class="form-control" name="adults" required>
									<option value="0">0</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
								</select>
							</div>

							<div class="col-md-3 form-left-agileits-w3layouts " style="margin-bottom: 2%;">
								<label style="font-size:29px; color: black; font-weight: bold;">Jeune (2-17)</label>
								<select style="border: 2px solid black; padding: 5px;" class="form-control" name="children">
									<option value="0">0</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
								</select>
							</div>

							<div class="col-md-3 form-left-agileits-w3layouts " style="margin-bottom: 2%;">
								<label style="font-size:29px; color: black; font-weight: bold;">Enfant (0-2)</label>
								<select style="border: 2px solid black; padding: 5px;" class="form-control" name="infants">
									<option value="0">0</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
								</select>
							</div>

							<div class="col-md-3 form-left-agileits-submit" style="text-align: center;">
								<input type="submit" value="Search Flights" style="background-color: white; font-size:15px; color: skyblue; padding: 10px 20px; border: 2px solid black;">
							</div>




						</form>
						<div class="clearfix"></div>
					</div>

			</div>
					
				</div>
		</div>
	</div>
</div>

<section class="section">
	<div class="options">
		<div class="option active" style="--optionBackground:url(https://64.media.tumblr.com/595a069be4f16124f3419f23dc5e0e15/a77558355fad7b84-aa/s2048x3072/4ac4c3274d48fefd7ee1df801652f71e25af4c79.jpg);">
			<div class="shadow"></div>
			<div class="label">
				<div class="icon">
					<i class="fas fa-walking"></i>
				</div>
				<div class="info">
					<div class="main">Milan</div>
					<div class="sub">
						Milan, Italy

					</div>
				</div>
			</div>
		</div>
		<div class="option" style="--optionBackground:url(https://64.media.tumblr.com/c8522a41f0a62558028a8e78eec35b3a/6ca7a5be22c304c8-7e/s400x600/c46492236bfe2503937712b68d5693fd56c33b42.jpg);">
			<div class="shadow"></div>
			<div class="label">
				<div class="icon">
					<i class="fas fa-snowflake"></i>
				</div>
				<div class="info">
					<div class="main">Abu Dhabi</div>
					<div class="sub">Sheikh Zayed Grand Mosque in Abu Dhabi, UAE</div>
				</div>
			</div>
		</div>
		<div class="option" style="--optionBackground:url(https://64.media.tumblr.com/36ce12d8646babdb65b60ef0998e21bc/1cf04511768591e0-12/s1280x1920/fc9cdd648bf0f75e0f4a2aa8f6fe7b540dc82bd8.jpg);">
			<div class="shadow"></div>
			<div class="label">
				<div class="icon">
					<i class="fas fa-tree"></i>
				</div>
				<div class="info">
					<div class="main">Paris</div>
					<div class="sub">Paris, France</div>
				</div>
			</div>
		</div>
		<div class="option" style="--optionBackground:url(https://64.media.tumblr.com/fe14568ee3c6b036ba9a3dcb8179a85e/34860816c72fc976-3e/s640x960/e441303b0ffd403d92b50968047b739d3fcc51e0.jpg);">
			<div class="shadow"></div>
			<div class="label">
				<div class="icon">
					<i class="fas fa-tint"></i>
				</div>
				<div class="info">
					<div class="main">FES, MOROCCO</div>
					<div class="sub">PALACE OF MOKRI</div>
				</div>
			</div>
		</div>
		<div class="option" style="--optionBackground:url(https://64.media.tumblr.com/36533e117af5c0ec13b5c0d0eb790986/c6e9191f31f3c156-2b/s400x600/5b562d346caeb20031fa229caf38c69a91265ccd.jpg);">
			<div class="shadow"></div>
			<div class="label">
				<div class="icon">
					<i class="fas fa-sun"></i>
				</div>
				<div class="info">
					<div class="main">MOSCOW, RUSSIA</div>
					<div class="sub">IZMAILOVO CASTLE</div>
				</div>
			</div>
		</div>

	</div>

</section>



<div class="map-w3-agile">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13621.457509092013!2d-5.335321310355583!3d35.59556145653603!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd0b430ce2f5cdaf%3A0xbb006cf5cc7e61ac!2sSania%20Ramel%20Airport!5e0!3m2!1sen!2sma!4v1703348691256!5m2!1sen!2sma" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>